@charset "UTF-8";

h1 {
	margin-left: auto;
	margin-right: auto;
	width: 170px;
	border-bottom: solid 2px black;
	text-align: center;
	font-family: arial;
}

.employee-registration {
	width: 340px;
}

.employee-delete {
	width: 250px;
}

.form {
	width: 200px;
}

.d1 {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 170px;
	border-style: solid;
	border-width: 2px;
	background-color: white;
}

.emp-regist {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	border-style: solid;
	border-width: 2px;
	background-color: white;
}

.login {
	padding-top: 10px;
}

.result {
	padding-top: 50px;
}

.task {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: 470px;
	border-style: solid;
	border-width: 2px;
	background-color: white;
}

.center {
	text-align: center;
}


footer {
	width: 100%;
	font-family: arial;
	margin: 0px;
    /*
    background-color: #89c7de;
    color: #fff;
    padding: 30px 0;
    */
    clear:both;
    background-color: #ebebeb;
    text-align: center;
    border-top: solid 2px;
	border-bottom: solid 2px;
	padding: 20px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

body {
	min-height: 100vh;
	margin: 0px;
	background-color: #93b2c7;
	background-image:
		url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

textarea {
	resize: none;
	width: 240px;
	height: 100px;
}

table {
	background-color: white;
}

.list {
	width:1080px;
	margin-left: auto;
	margin-right:auto;
}

.main {
	margin-left: auto;
	margin-right: auto;
}